{% extends 'base.html' %}

{% block pagetitle %} Your Notes {% endblock pagetitle %}

{% block mainbody %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="opacity: 0.95;">


    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent" style="opacity: 0.9 ! important;">

        <a href="/newnote" class="btn btn-outline-dark  mr-4 mt-2">Add New Note</a>

    </div>
</nav>

{% if not length %}
<div class="alert alert-primary my-5 mx-5" role="alert">
    No saved notes. Create your first note now!
</div>
{% endif %}


<div class="row mx-4 my-5 ">
    {% for k,v in info.items %}


    <div class="col-sm-3">
        <div class="card text-{{v.txt}} bg-{{v.bg}} mx-2 mb-3">
            <div class="card-header">{{v.dt}}</div>
            <div class="card-body pr-2 pl-3 pb-2">
                <!-- <h5 class="card-title">Primary card title</h5> -->
                <p class="card-text mb-10">{{v.note}}</p>
                <a href="/delnote/{{v.nid}}" class="btn btn-dark btn-sm ml-1 float-right" style="bottom: 0%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </a>
                <a href="/editnote/{{v.nid}}" class="btn btn-dark btn-sm float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>


    {% endfor %}
</div>

<!-- <div class="row mx-4 my-5 ">
    <div class="col-sm-3">
        <div class="card text-white bg-primary mx-2 mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.
                    Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.

                    Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-dark btn-sm ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-secondary mx-2 mb-3">
            <div class="card-header">Header</div>
            <div class="card-body px-2 pb-2">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. </p>
                <a href="#" class="btn btn-dark float-right mr-0 btn-sm ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash"
                        viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-success mx-2 mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-warning mx-2 mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-dark mx-2 mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content. Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div>
    </div>
</div> -->




{% endblock mainbody %}